@font-face {
  font-family: 'IRANSansX-Light';
  src: url('./fonts/IRANSansX-Light.woff') format('woff');
}


*{
  font-family: 'IRANSansX-Light';
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'IRANSansX-Light';
  text-transform: capitalize;
  overflow-x: hidden;
  /* background-color: rgb(125, 125, 125); */
}